@model SeatsProject.Models.Sede

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sede</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodiceArea" class="control-label"></label>
                <input asp-for="CodiceArea" class="form-control" />
                <span asp-validation-for="CodiceArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPadre" class="control-label"></label>
                
                <select id="comboBox" onchange="myFunction()>
                    @foreach (var sede in ViewBag.Seat)
                    {
                        <option value="@sede.Descrizione">@sede.Descrizione</option>
                    }

                </select>
            </div>

            

           

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Prenotabile" /> @Html.DisplayNameFor(model => model.Prenotabile)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
       
        $(document).ready(function () {

         GetJsonViewbag();

          
            
        });
        function GetJsonViewbag(){

            var comboBox = $("#comboBox");
            var y = @Html.Raw(Json.Serialize(ViewBag.Seat));

            $.each(y, function (index, value) {
                comboBox.append($("<option>").text(value));

        });

        function myFunction() {                                             

            var x = document.getElementById("combobox").value;
            
           

            var options = @Html.Raw(Json.Serialize(ViewBag.Seat));                    // Json string


            options.forEach((item) => {                                          // foreach on options which has the model list values

                if (item.descrizione == x) {
                    var fatherId= item.Id;
                    console.log(fatherId);
                                 // this is the id of the father selected on the dropdown menu, so this the fatherId 
                  // I have to set the fatherId of the new Sede

                }
            });

        }


    </script>
}
