@model SeatsProject.Models.Sede

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sede</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodiceArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodiceArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenotabile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenotabile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
