@model List<Sede>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
 
</p>
 <head>
   
     
   <link href="https://code.jquery.com/ui/1.13.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
   

</head>
<input type="text" id="searchInput" placeholder="Cerca...">

<select id="combobox" onchange="myFunction()" >
    @foreach (var sede in Model) 
    {
         <option value="@sede.Descrizione">@sede.Descrizione</option>
    }
   
</select >

<p id="demo"></p>

<script>
   
     var date1="";
     var contatore=0;
    
     function updateDate(){ // in this method we update the default date every time we run the program.
      contatore+=1;
       
       const defaultDate = document.querySelector('input[type="date"]'); 

      if(contatore==1){
        var timeElapsed = Date.now();
      
           date1 = new Date(timeElapsed).toISOString().split("T")[0];
      
        defaultDate.value= date1;

        isWeekend(defaultDate.value);
         }else{
             isWeekend(defaultDate.value);
         }
 }

 function createEvent(){
     let data = document.querySelector('.datefield');
      var event = new Event('change');
     data.dispatchEvent(event);
     
 }

 function isWeekend(date){
     var milliseconds = Date.parse(date);
     var selectedDate = new Date(milliseconds);
    
     if (selectedDate.toString().includes("Sat")|| selectedDate.toString().includes("Sun")){
              alert("gli uffici di sabato e domenica sono chiusi, assicurarsi di selezionare un altro giorno per prenotare.");
              document.querySelector('.datefield').value= null;
     }
 }
  
 function myFunction() { // this function is useful to change the svg image when we click on an option of the combobox.
  
  var x = document.getElementById("combobox").value;

     var options = @Html.Raw(Json.Serialize(Model));                    // Json string
    

     options.forEach((item)=>{                                          // foreach on options which has the model list values 
      
       if(item.descrizione ==x){
           var container = document.getElementById("svgContainer");
           container.innerHTML= item.immagineSvg;                       // here we visualize the svg image
            
       } 
      });

    }

    $(document).ready(function () { // here we wait the complete load of the document
     
     createEvent();  
        
        const comboBox = $("#combobox");
       
        const searchInput = $("#searchInput");

      window.postoSelezionato=''; 

       const dataElement= document.getElementById("BookDate");

        // execute the filter when the user types an input.
        searchInput.on("input", function () {
            var searchText = $(this).val().toLowerCase();

           comboBox.find("option").each(function () {
                var optionText = $(this).text().toLowerCase();
                $(this).toggle(optionText.indexOf(searchText) > -1);
            });
        });
    
        function Book(postoSelezionato,date){// in this method we have to write the book

              var options = @Html.Raw(Json.Serialize(Model));
        
        options.forEach((item)=>{
           
            if(item.codiceArea== postoSelezionato ){
               
                var prenotazione = {
                    IdPrenotazine:null,
                    Data:date,
                    Utente: "utente1", // questo deve essere non null mi servirebbe dalla tabella del login
                    CodicePostazione:postoSelezionato
                };
                SendData(prenotazione);

            }
           
        });

       }

       function SendData(prenotazione){// here we send the data at the controller devo trasformarlo in un oggetto

        $.ajax({
            type: "POST",
            
            url: '@Url.Action("Reserve", "Prenotazioni")',
            data:  prenotazione,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",

        });
}

       $('#SediTable').DataTable({
                  
                    "serverSide": false,
                    "pageLength": 10,
                    "paging":true,
                    "scrollX":true,
                    ajax:'@Url.Action("GetJson", "Sede")',

                    columns: [
                        { "data": "id" },
                        { "data": "descrizione" },
                        {"data": "codiceArea"},
                        {"data": "idPadre"},
                        {"data": "prenotabile"},
                        {"data": "immagineSvg"},
                           {"data":null,
                    render: function(data,type,row){
                        data= "delete";
                        var btn = '<button class="btn btn-primary delete-button" >' + data + '</button>';
                                
                                $(document).on('click','.delete-button',function(){
                                    
                                    // $("#SediTable").row( this ).delete();
                                     var row = $('#SediTable').DataTable().row($(this).closest('tr'));
                                     row.remove().draw();
                                });

                                 return btn;
              }
            }
          ],
         
       });// end of datatable ajax call

        $('circle[id^="PS"]').on("click",function(){
 
            console.log("stai prenotando")
            window.postoSelezionato= $(this).attr('id');
          //  alert("sei sicuro di voler prenotare "+ $(this).attr('id') + " nella data "+ dataElement.value"?");
           Book(window.postoSelezionato,dataElement.value);
            
       });// end of click event

    });
         
</script>

    <table id="SediTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrizione</th>
                <th>CodiceArea</th>
                <th>IdPadre</th>
                <th>Prenotabile</th>
                <th>ImmagineSvg</th>
                <th></th>
               
            </tr>
        </thead> 
  
    
    <tfoot>
            <tr>
                <th>Id</th>
                <th>Descrizione</th>
                <th>CodiceArea</th>
                <th>IdPadre</th>
                <th>Prenotabile</th>
                <th>ImmagineSvg</th>
                <th></th>
            </tr>
        </tfoot>
    </table>

    <input class="datefield" data-val="true" data-val-required="Date is required" 
      id="BookDate" name="BookDate" type="date" onchange="updateDate()"  />   

<div id="svgContainer">

</div>
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   viewBox="0 0 793.33331 1122.6667"
   height="1122.6667"
   width="793.33331"
   xml:space="preserve"
   id="svg2"
   version="1.1"
   sodipodi:docname="Disegno1coiposti.svg"
   inkscape:version="1.3 (0e150ed6c4, 2023-07-21)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:dc="http://purl.org/dc/elements/1.1/"><sodipodi:namedview
     id="namedview1"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     inkscape:zoom="1.3842042"
     inkscape:cx="377.47322"
     inkscape:cy="722.07556"
     inkscape:window-width="1920"
     inkscape:window-height="991"
     inkscape:window-x="-9"
     inkscape:window-y="-9"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg2" /><metadata
     id="metadata8"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs
     id="defs6"><clipPath
       id="clipPath18"
       clipPathUnits="userSpaceOnUse"><path
         id="path16"
         d="M 273,0 H 4960 V 1874 H 273 V 0" /></clipPath></defs><g
     transform="matrix(0.20432127,0,0,-0.20432127,-159.40893,762.90537)"
     id="g10"><g
       id="g12"><g
         clip-path="url(#clipPath18)"
         id="g14"><path
           id="path20"
           style="fill:none;stroke:#000000;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="M 1597,947 H 3498" /><path
           id="path22"
           style="fill:none;stroke:#000000;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="M 4484,1183 V 159 H 1597" /><path
           id="path24"
           style="fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="M 2222,798 V 159" /><path
           id="path26"
           style="fill:none;stroke:#000000;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="M 3498,159 V 651 H 2617" /><path
           id="path28"
           style="fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="M 2913,651 V 159" /><path
           id="path30"
           style="fill:none;stroke:#000000;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="M 2617,651 V 159" /><path
           id="path32"
           style="fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="M 1597,159 V 798" /><path
           id="path34"
           style="fill:none;stroke:#000000;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="M 1597,947 H 907 V 159 h 690" /><path
           id="path36"
           style="fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="M 3190,651 V 159" /><path
           id="path38"
           style="fill:none;stroke:#000000;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="m 3498,947 v 236 h 986" /><path
           id="path40"
           style="fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="M 2617,651 2913,159" /><path
           id="path42"
           style="fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="m 2617,159 296,492" /><path
           id="path44"
           style="fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="m 3728,750 h 538 V 565 h -538 v 185" /><path
           id="path46"
           style="fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="m 1815,607 h 198 V 412 h -198 v 195" /><path
           id="path48"
           style="fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
           d="m 1151,607 h 197 V 412 h -197 v 195" /></g></g></g><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSA01"
     cx="195.78036"
     cy="656.69501"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSA04"
     cx="233.00192"
     cy="693.56476"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSA03"
     cx="269.11603"
     cy="657.49615"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSA02"
     cx="231.50386"
     cy="622.26404"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSM01"
     cx="57.602531"
     cy="656.78912"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSM03"
     cx="138.33655"
     cy="659.33655"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSM02"
     cx="96.336555"
     cy="625.33655"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSM04"
     cx="101.33656"
     cy="693.33655"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSD01"
     cx="588.33655"
     cy="634.33655"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSD10"
     cx="621.33655"
     cy="662.33655"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSD09"
     cx="648.00195"
     cy="662.22632"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSD08"
     cx="678.11218"
     cy="663.22632"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSD06"
     cx="728.33655"
     cy="627.33655"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSD05"
     cx="698.33655"
     cy="591.33655"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSD04"
     cx="665.33655"
     cy="591.33655"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSD03"
     cx="636.33655"
     cy="591.33655"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSD02"
     cx="611.33655"
     cy="593.33655"
     r="10.836552" /><circle
     style="fill:#ffffff;stroke:#000000"
     id="PSD07"
     cx="703.33655"
     cy="662.33655"
     r="10.836552" /></svg>
